**
!Dockerfile
!ios_download.py
!app/
!app/*.py
!bridge/
!bridge/*.py
!bridge/*.go
!bridge/*.mjs
!dependencies/
!dependencies/*.json
!licenses/
!licenses/*.txt
!LICENSE
!THIRD_PARTY_NOTICES.md
!web/
!web/**
!tests/
!tests/*.py
**/__pycache__/
**/*.pyc
